HOST=0.0.0.0
PORT=2337
APP_KEYS=qasqVyZOf8KJ/rgYYbE4/w==,JmDepwXWOjGxfNHgDhg43w==,ANPSI9a+z4WmnfBOaHxlHg==,V6CIUf0vcj/GJ8Gt4306TA==
API_TOKEN_SALT=Xtz+i5IPW3ApE3eIsYQF9w==
ADMIN_JWT_SECRET=4mvOKZ35kjlNVjjxB/+0xQ==
TRANSFER_TOKEN_SALT=O35AEehAeD7N+1h6sS73Lw==
# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=/cloudsql/lucid-arch-451211-b0:us-west1:cloud-sql-server
DATABASE_PORT=5432
DATABASE_NAME=gpa-subsys-db1
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=
PGPASSWORD=
DATABASE_SSL=false
JWT_SECRET=zNFVknwhnld60t/32I7iPA==
